html {
    font-family: sans-serif;
  }

input {
    background-color:lightgrey;
    color:black;
    font-family: Source Code Pro; 

}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color:rgb(37, 57, 66);
    color:white;
    font-family: Source Code Pro; 
    letter-spacing:-1px;
    text-align:center;
}
.lastResult {
    color: white;

}

#confetti-canvas {
  position: fixed; 
  z-index: 999; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  pointer-events: none;
}

.settings button:not(.user_number_confirm) {
    background-color:transparent;
    border-color:transparent;
}

.settings img {
    filter:invert(100%);
}

.settings button:hover {
    cursor:pointer;
}

.settingsmenu button:not(.user_number_confirm) {
    position:relative; top:10px;
    text-align:center;
    border-radius:5px;
}

#easymode {
    background-color:#518151;
    color:#9fff9f;
    font-family: Source Code Pro;
}

#normalmode {
    color:#ffd484;
    background-color:#9d762f;
    font-family: Source Code Pro;
}

#hardcoremode {
    color:#ff9999;
    background-color:#8a2b2b;
    font-family: Source Code Pro;
}

#guessField {
    border-radius:9px;
    width:200px;
}

.user_number_confirm {
    display:inline;
    font-family: Source Code Pro;
}