html {
    font-family: sans-serif;
  }

input {
    background-color:lightgrey;
    color:black;
    font-family: Source Code Pro; 
    border-color:rgb(25, 57, 66)
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-color:rgb(37, 57, 66);
    color:white;
    font-family: Source Code Pro; 
    text-align:center;
}


  
.form input[type="number"] {
    width: 200px;
}

.lastResult {
    color: white;

}

#confetti-canvas {
  position: fixed; 
  z-index: 999; 
  top: 0; 
  left: 0; 
  width: 100vw; 
  height: 100vh; 
  pointer-events: none;
}

.settings button {
    background-color:transparent;
    filter:invert(100%);
    border-color:transparent;
    margin:0px;
    text-align:center;
}

.settings button:hover {
    cursor:pointer;
}

.settingsmenu button {
    background-color:white;
    filter:invert(0%);
    margin:0px;
    text-align:center;
}
